body {
	font-family:Constantia,sans-serif;
	font-size:20px;
}
a {
	text-decoration:none;
}
img{
	border:1px solid #033201;
	border-radius:9px;

}
.ststr{
	text-align:center;
	font-size:40px;
	color:#0cad03;
	text-shadow:-2px 1px #032101;
}
.stbt{
	cursor: pointer;
	text-align:center;
	color:#0cad03;
	font-size:20px;
	text-shadow:-1px 1px #065702;
	border:1px #065702;
	background-color:#10e604;
}
.stbt:hover{
	transition:0.6s ease;
	color:#033201;
}
.slider_container {
	max-width:800px;
	position:relative;
	margin:5 auto;
	margin
}
.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color:#fff;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
}
.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
	background-color: rgba(7,100,2,0.9);
}
.text {
	color: #fff;
	padding: 8px 12px;
	position: absolute;
	bottom: 10px;
	width: 100%;
	text-align: center;
}
.ago {
	cursor: pointer;
	height: 13px;
	width: 13px;
	margin: 0 2px;
	background-color: #0db803;
	border-radius: 50%;
	display: inline-block;
	transition: 0.6s ease;
}
.active, .ago:hover {
	background-color: #054e01;
}
.fade {
	animation-name: fade;
	animation-duration: 1.5s;
}
@keyframes fade {
	from{opacity: 0.4}
	to{opacity: 1}
}